.van-popup {
  height: 200px;
  text-align: center;
}

.form_action {
  float: left;
  width: 25%;
}

.form_action span {
  display: block;
  color: #646566;
}

.form_action span:nth-child(1) {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 30px 10px 5px 10px;
  background-color: #f2f3f5;
}

.form_action span:nth-child(2) {
  margin-bottom: 32px;
}

.form_action span i {
  color: #fff;
  line-height: 60px;
  font-size: 26px;
}

#view-btn {
  background-color: #409EFF;
}

#edit-btn {
  background-color: #E6A23C;
}

#revoke-btn {
  background-color: #DCDFE6;
}

#del-btn {
  background-color: #F56C6C;
}