@font-face {
    font-family: "iconfont"; /* Project id 2812516 */
    src: url('//at.alicdn.com/t/font_2812516_e91ry3xsrji.woff2?t=1631612722962') format('woff2'),
         url('//at.alicdn.com/t/font_2812516_e91ry3xsrji.woff?t=1631612722962') format('woff'),
         url('//at.alicdn.com/t/font_2812516_e91ry3xsrji.ttf?t=1631612722962') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-icon-approval:before {
    content: "\e600";
  }
  
  .icon-remittance:before {
    content: "\e601";
  }
  